
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 249 249;
    --foreground: 29 53 87;

    --card: 0 0% 100%;
    --card-foreground: 29 53 87;

    --popover: 0 0% 100%;
    --popover-foreground: 29 53 87;

    --primary: 29 53 87;
    --primary-foreground: 249 249 249;

    --secondary: 244 124 124;
    --secondary-foreground: 255 255 255;

    --muted: 240 240 240;
    --muted-foreground: 115 115 115;

    --accent: 255 209 102;
    --accent-foreground: 29 53 87;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 29 53 87;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-warmGray text-foreground font-poppins;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .section-padding {
    @apply px-4 md:px-8 lg:px-16 xl:px-24;
  }
}
